@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

/* header */
.header__fondo {
  display: flex;
  background-color: #EEEBEA;
  margin-bottom: 1rem; }

.header__logo {
  width: 32vw;
  padding: 0.19rem; }

/* MAIN */
.main {
  /* banner */ }
  .main__banner {
    display: flex;
    flex-direction: column;
    background-image: url(../recursos/banner/banner_patagonia-01.jpg);
    height: 60vh;
    align-items: center;
    justify-content: center; }
  .main__titulo1 {
    font-family: 'Playfair Display', serif;
    color: #112343;
    font-size: 4rem; }
  .main__titulo2 {
    font-family: 'Poppins', sans-serif;
    color: #112343;
    font-size: 2rem; }

/* TITULO */
.titulo__contenedor {
  grid-area: titulo;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem; }

.titulo__texto {
  font-family: 'Playfair Display', serif;
  color: #112343;
  font-size: 3rem;
  width: 50vw;
  text-align: center; }

/* cabania1 */
.cabania1__contenedor {
  grid-area: cabana1;
  display: flex;
  align-items: center;
  justify-content: center; }

.cabania1__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/cabania1/cabania1.jpg);
  width: 33.6vw;
  height: 82.5vh; }

.cabania1__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEEBEA;
  width: 50vw;
  height: 33vh; }

.cabania1__texto__titulo {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 2.25rem;
  margin-left: 2rem; }

.cabania1__texto__descripcion {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 1.15rem;
  width: 45vw;
  margin-left: 2rem; }

.cabania1__texto__personas {
  display: flex;
  margin-left: 2rem;
  align-items: center; }

.cabania1__texto__chico {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 0.95rem;
  width: 45vw;
  margin-left: 0.20rem; }

/* cabania2 */
.cabania2__contenedor {
  display: flex;
  align-items: center;
  justify-content: center; }

.cabania2__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEEBEA;
  width: 50vw;
  height: 33vh; }

.cabania2__texto__titulo {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 2.25rem;
  margin-left: 2rem; }

.cabania2__texto__descripcion {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 1.15rem;
  width: 45vw;
  margin-left: 2rem; }

.cabania2__texto__personas {
  display: flex;
  margin-left: 2rem;
  align-items: center; }

.cabania2__texto__chico {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 0.95rem;
  width: 45vw;
  margin-left: 0.20rem; }

.cabania2__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/cabania2/cabania2-01.jpg);
  width: 33.6vw;
  height: 82.5vh; }

/* cabania3 */
.cabania3__contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; }

.cabania3__imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../recursos/cabania3/cabania3-01.jpg);
  width: 33.6vw;
  height: 82.5vh; }

.cabania3__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EEEBEA;
  height: 33vh; }

.cabania3__texto__titulo {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 2.25rem;
  margin-left: 2rem; }

.cabania3__texto__descripcion {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 1.15rem;
  width: 45vw;
  margin-left: 2rem; }

.cabania3__texto__personas {
  display: flex;
  margin-left: 2rem;
  align-items: center; }

.cabania3__texto__chico {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 0.95rem;
  width: 45vw;
  margin-left: 0.20rem; }

.fa-person {
  font-size: 1rem;
  padding: 0.10rem; }

.servicios__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }

/* TRANSLADOS */
.traslado__contenedor {
  grid-area: traslados;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3rem; }

.traslado__imagen {
  display: flex;
  justify-content: center;
  background-image: url(../recursos/servicios/img_translado.jpg);
  width: 33.6vw;
  height: 70.5vh;
  justify-items: center;
  align-content: center; }

.traslado__titulo {
  font-family: 'Playfair Display', serif;
  color: #EEEBEA;
  font-size: 3.2rem;
  background-color: #112343;
  text-align: center;
  align-items: center;
  width: 33.6vw;
  height: 10vh; }

.traslado__texto__contenedor {
  background-color: #EEEBEA; }

.traslado__texto {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 1.15rem;
  width: 33.6vw;
  text-align: center; }

.spa__contenedor {
  grid-area: spa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem; }

.spa__imagen {
  display: flex;
  justify-content: center;
  background-image: url(../recursos/servicios/img_spa.jpg);
  width: 33.6vw;
  height: 70.5vh; }

.spa__titulo {
  font-family: 'Playfair Display', serif;
  color: #EEEBEA;
  font-size: 3.2rem;
  background-color: #112343;
  text-align: center;
  align-items: center;
  width: 33.6vw;
  height: 10vh; }

.spa__texto__contenedor {
  background-color: #EEEBEA; }

.spa__texto {
  font-family: 'Poppins', sans-serif;
  color: #112343;
  font-size: 1.15rem;
  width: 33.6vw;
  text-align: center; }

/* HOSPEDAJE */
.hospedaje__contenedor {
  grid-area: hospedaje;
  display: flex;
  background-image: url(../recursos/hospedaje/img_hospedaje-01.jpg);
  height: 70vh;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center; }

.hospedaje__fondo__azul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 70vw;
  height: 60vh;
  background-color: #112343; }

.hospedaje__titulo {
  font-family: 'Playfair Display', serif;
  color: #EEEBEA;
  font-size: 3rem;
  text-align: center; }

.hospedaje__botones__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem; }

.hospedaje__botones {
  width: 17vw;
  font-family: 'Poppins', sans-serif;
  color: #112343;
  background-color: #EEEBEA;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.15rem;
  margin: 0.20rem; }

.hospedaje__botones_cadauno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.hospedaje__subtitulo {
  font-family: 'Playfair Display', serif;
  color: #EEEBEA;
  font-size: 2rem;
  padding-bottom: 0.75rem;
  text-align: center; }

.hospedaje__imputs {
  width: 20vw;
  font-family: 'Poppins', sans-serif;
  color: #112343;
  background-color: #EEEBEA;
  font-size: 1rem;
  margin: 0.25rem; }

.elementoHospedaje__texto {
  font-family: 'Playfair Display', serif;
  color: #EEEBEA;
  font-size: 1rem; }

/* RESEÑAS */
.resenia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../recursos/resenias_fondo-01.jpg);
  height: 89vh;
  margin-bottom: 2rem; }
  .resenia__titulo__texto {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 3rem;
    text-align: center;
    margin-top: 2.50rem;
    background-color: #112343;
    width: 45vw; }
  .resenia__contenedor {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .resenia__caja {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    background-color: #EEEBEA;
    height: 13vh;
    width: 45vw; }
  .resenia__titulo {
    font-family: 'Poppins', sans-serif;
    color: #112343;
    margin-left: 0.5rem;
    font-size: 1.15rem;
    justify-content: center; }
  .resenia__texto {
    font-family: 'Poppins', sans-serif;
    color: #112343;
    font-size: 0.75rem;
    width: 45vw;
    margin-left: 0.5rem; }

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0%;
  background-color: #112343;
  padding-top: 0.938rem;
  padding-bottom: 0.938rem; }

.footer__redes__div1 {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.footer__redes__texto {
  color: #EEEBEA;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  margin-left: 1.25rem; }

.footer__icono {
  color: #EEEBEA;
  padding-left: 1rem;
  font-size: 1.50rem; }

.footer__texto {
  color: #EEEBEA;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  font-size: 0.938rem;
  padding-right: 0.625rem; }
